*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.hidden{
    display: none;
}
/* body{
    padding: 0 4rem;
} */

/* navbar css */

header{
    padding: 0 4rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.navMenu ul li{
    list-style: none;
}
.navMenu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}
.navMenu ul{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* display: none; */
}
.navMenu ul li a:hover{
    color: #06C167;
}
.menubar-icon{
    border: 1px solid #06C167;
    border-radius: 5px;
    padding: 5px 10px;
    color: #06C167;
    display: none;
}

/* navbar css */

@media screen and (max-width: 575px){
    header{
        padding: 0;
    }
    .navMenu ul{
        display: none;
    }
    .menubar-icon{
        display: block;
    }
    body{
        padding: 0px 2rem;
    }
}

/* hero section css */

.hero-main{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}
.hero-context{
    width: 50%;
    padding: 3rem 1rem;
}
.hero-context h1{
    font-size: 4rem;
}
.hero-context p{
    font-size: 1.5rem;
    padding: 2rem 0rem;
}
.hero-btn{
    position: relative;
}
.hero-button{
    width: 8rem;
    height: 1.5rem;
    padding: 0.5rem;
    background-color: #06C167;
    color: white;
    font-weight: bold;
    border: none;
}
.hero-btn i{
    position: absolute;
    top: 0.8rem;
    left: 7rem;
    color: white;
    font-weight: bold;
}
.hero-logo{
    width: 50%;
    display: flex;
    padding-top: 11rem;
    justify-content: space-evenly;

}
.hero-logo img{
    width: 50%;
    
    
}
.second-logo, .third-logo{
    margin-left: 20px;
}
.hero-img{
    width: 50%;
    padding: 20px;
    position: relative;
}
.hero-photo{
    width: 100%;
}
.hero-rating{
    position: absolute;
    top: 19rem;
    left: -4rem;
}
.hero-quality{
    position: absolute;
    top: 13rem;
    right: -2rem;
}
.hero-dot{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* hero responsive css */

@media screen and (max-width: 575px){
    .hero-main{
    flex-direction: column-reverse;
    padding: 0rem;
   }
   .hero-context{
    width: 100%;
    padding: 0rem;
  }
  .hero-context h1{
    font-size: 2rem;
  }
  .hero-context p{
    font-size: 1rem;
    padding: 1rem 0rem;
  }
  .hero-button{
    margin-top: 1rem;
  }
  .hero-logo{
    width: 50%;
    padding: 2rem 0rem;
   }
   .hero-img{
    width: 100%;
    padding: 2rem 0rem;
   }
   .hero-rating{
    top: 21rem;
    left: 1.5rem;
    z-index: 20;
  }
  .hero-quality{
    top: 25rem;
    right: 3.5rem;
    z-index: 10;
  }
  .hero-btn{
    width: 100%;
}
.hero-btn i{
    top: 1.7rem;
    left: 14rem;
    
}
.hero-button{
    width: 90%; 
}

}

/* service section css */ 

.service-section{
    padding: 2rem 2.5rem;
}
.service-main{
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.service{
    /* width: 8rem; */
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;

}
.service h1{
    font-size: 1rem;
}
.service-context{
    margin: auto 0px;
}

/* service section responsive css */

@media screen and (max-width: 575px){

    .service-section{
    padding: 2rem 0.5rem;
}
    .service-main{
         grid-template-columns: repeat(2,1fr);
         gap: 20px;
    }
    .service{
    /* width: 8rem; */
    /* display: flex; */
    gap: 10px;
    flex-direction: column;

}
}

/* Healthy food section css */

.healthy-food-section{
    padding: 2rem 2.5rem;
}
.healthy-food-main{
    display: flex;
    justify-content: space-evenly;
    
}
.healthy-food-image{
    width: 50%;
}
.healthy-food-image img{
    width: 100%;
    padding: 20px;
}
.healthy-food-context{
    width: 50%;
    padding-top: 5rem;
    padding-left: 4rem;
    margin-left: 3rem;
}
.healthy-food-context h1{
    font-size: 3rem;
    color: #1D1D1F;
    padding: 2rem 0rem;
}

.healthy-small-p{
    color: #1D1D1F;
}
.list-div{
    padding-top: 0.5rem;
}
.list{
    display: flex;
    gap: 10px;
    padding: 0.5rem 0rem;
}
.list i{
    color: #06C167;
    font-size: 2rem;
}
.list p{
    font-size: 1.5rem;
}

/* healthy food section responsive css */

@media screen and (max-width: 575px){
    body{
        padding: 0rem 1rem;
    }
    .healthy-food-section{
    padding: 2rem 0rem;
}
.healthy-food-main{
    flex-direction: column;
    
}
.healthy-food-image{
    width: 100%;
}
.healthy-food-image img{
    width: 100%;
    padding: 0;
}
.healthy-food-context{
    width: 100%;
    padding-top: 1rem;
    padding-left: 0rem;
    margin-left: 0rem;
}
.healthy-food-context h1{
    font-size: 2rem;
    color: #1D1D1F;
    padding: 2rem 0rem;
}
.list{
    display: flex;
    gap: 10px;
    padding: 0.5rem 0rem;
}
.list i{
    color: #06C167;
    font-size: 1rem;
}
.list p{
    font-size: 1rem;
}
}

/* Veggie section css */

.veggie-food-section{
    padding: 2rem 2.5rem;
}
.veggie-food-main{
    display: flex;
    justify-content: space-between;
    
}
.veggie-food-image{
    width: 50%;
    
}
.veggie-food-image img{
    width: 100%;
    padding: 20px;
}
.veggie-food-context{
    width: 50%;
    padding: 2rem;
    margin: auto 0;
}
.veggie-food-context h1{
    font-size: 3rem;
    color: #1D1D1F;
    padding: 1rem 0rem;
    
}

.veggie-small-p{
    color: #1D1D1F;
}
.veggie-div{
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0rem;
    margin-left: -10px;
}
.veggie-rating{
    padding: 1rem;
    
}
.veggie-rating h2{
    color: #06C167;
    font-size: 2rem;
    text-align: center;
}
.veggie-rating p{
    font-size: 1rem;
}
.veggie-btn{
   position: relative;
}
.veggie-btn i{
    position: absolute;
    color: white;
    top: 0.8rem;
    left: 7rem;
    font-weight: bold;
}
.veggie-button{
    width: 8rem;
    height: 1.5rem;
    padding: 0.5rem;
    background-color: #06C167;
    color: white;
    font-weight: bold;
    border: none; 
}

/* veggie section responsive css*/

@media screen and (max-width: 575px){

    .veggie-food-section{
    padding: 2rem 0rem;
}
.veggie-food-main{
    flex-direction: column-reverse;
}
.veggie-food-image{
    width: 100%; 
}
.veggie-food-image img{
    width: 100%;
    padding: 0;
}
.veggie-food-context{
    width: 100%;
    padding: 2rem 1rem;
    margin: auto 0;
}
.veggie-food-context h1{
    font-size: 2rem;
    color: #1D1D1F;
    padding: 1rem 0rem;
}

.veggie-small-p{
    color: #1D1D1F;
}
.veggie-div{
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0rem;
}
.veggie-rating{
    padding: 1rem; 
}
.veggie-rating h2{
    color: #06C167;
    font-size: 2rem;
    text-align: center;
}
.veggie-rating p{
    font-size: 1rem;
    text-align: center;
}
.veggie-btn{
    width: 100%;
}
.veggie-btn i{
    top: 0.8rem;
    left: 14rem;
}
.veggie-button{
    width: 90%; 
}
}

/* feature section css */

.feature-section{
    padding: 2rem 2.5rem;
}
/* .feature-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
} */
.feature-context{
    margin: 0 auto;
    text-align: center;
    color: #1D1D1F;
}
.feature-context p{
    font-size: 1.5rem;
}
.feature-title{
    font-size: 4rem;
    padding: 1.5rem 0;
}
.feature-cards-group{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 0;
}
.image-card{
    width: 15.5rem;
    /* height: 8rem; */
}
.image-card img{
    width: 100%;
}
.context-card{
    width: 15.5rem;
    box-sizing: border-box;
    padding: 1.5rem;
}
.context-card h1{
    font-size: 2rem;
}
.context-card p{
    padding: 1.5rem 0;
}

.card-button{
    position: relative;
    color: #06C167;
}
.card-button button{
    color: #06C167;
    /* border: none; */
    outline: none;
    padding: 0.5rem 2rem;
    border: none;
    background-color: #fff;
}
.card-button i{
    position: absolute;
    top: 0.5rem;
    left: 8rem;
}

/* feature section responsive */

@media screen and (max-width: 575px){
    .feature-section{
    padding: 2rem 0.5rem;
}

.feature-title{
    font-size: 3rem;
    padding: 1.5rem 0;
}
.feature-cards-group{
    
    grid-template-columns: repeat(1,1fr);
    padding: 3rem 0;
}
.image-card{
    width: 100%;
    /* height: 8rem; */
}
.image-card img{
    width: 100%;
}
.context-card{
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
}
.context-card h1{
    font-size: 3rem;
}
.context-card p{
    padding: 1.5rem 0;
}
.card-button i{
    position: absolute;
    top: 0.5rem;
    left: 8rem;
}
}

/* Popular product section css */

.popular-product-section{
    padding: 2rem 2.5rem;
}
.popular-product-title{
    font-size: 4rem;
    padding: 2rem 0;
}
.popular-product-context p{
    font-size: 1.5rem;
}
.popular-card-group{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 2rem 0;
}
.popular-card{
    width: 80%;
    padding: 1rem;
    border: 2px solid #76767540;
    text-align: center;
}
.popular-card-rating{
    padding: 0.5rem 0;
}
.popular-card h3{
    padding: 1rem 0;
}
.popular-card p{
    padding: 1rem 0;
}
.popular-card span{
    color: #06C167;
    margin-left: 0.5rem;
}
.popular-card:hover{
    border: 2px solid #06C167;
}
.popular-card-button{
    position: relative;
}
.popular-card-button button{
    color: #06C167;
    border: 1px solid #06C167;
    outline: none;
    padding: 0.5rem 2rem;
}
.popular-card-button i{
    position: absolute;
    top: 0.5rem;
    left: 7.5rem;
    color: #06C167;
    padding-left: 10px;
}