*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.hidden{
    display: none;
}
/* body{
    padding: 0 4rem;
} */

/* navbar css */

header{
    padding: 0 4rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.navMenu ul li{
    list-style: none;
}
.navMenu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}
.navMenu ul{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* display: none; */
}
.navMenu ul li a:hover{
    color: #06C167;
}
.menubar-icon{
    border: 1px solid #06C167;
    border-radius: 5px;
    padding: 5px 10px;
    color: #06C167;
    display: none;
}

/* navbar css */

@media screen and (max-width: 575px){
    header{
        padding: 0;
    }
    .navMenu ul{
        display: none;
    }
    .menubar-icon{
        display: block;
    }
    body{
        padding: 0px 2rem;
    }
}

/* hero section css */

.hero-main{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
}
.hero-context{
    width: 50%;
    padding: 3rem 1rem;
}
.hero-context h1{
    font-size: 4rem;
}
.hero-context p{
    font-size: 1.5rem;
    padding: 2rem 0rem;
}
.hero-btn i{
    margin-left: -1.5rem;
    color: white;
    font-weight: bold;
}
.hero-button{
    width: 8rem;
    height: 1.5rem;
    padding: 0.5rem;
    background-color: #06C167;
    color: white;
    font-weight: bold;
    border: none;
    
    
}
.hero-logo{
    width: 50%;
    display: flex;
    padding-top: 11rem;
    justify-content: space-evenly;

}
.hero-logo img{
    width: 50%;
    
    
}
.second-logo, .third-logo{
    margin-left: 20px;
}
.hero-img{
    width: 50%;
    padding: 20px;
    position: relative;
}
.hero-photo{
    width: 100%;
}
.hero-rating{
    position: absolute;
    top: 19rem;
    left: -4rem;
}
.hero-quality{
    position: absolute;
    top: 13rem;
    right: -2rem;
}
.hero-dot{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* hero responsive css */

@media screen and (max-width: 575px){
    .hero-main{
    flex-direction: column-reverse;
    padding: 0rem;
   }
   .hero-context{
    width: 100%;
    padding: 0rem;
  }
  .hero-context h1{
    font-size: 2rem;
  }
  .hero-context p{
    font-size: 1rem;
    padding: 1rem 0rem;
  }
  .hero-button{
    margin-top: 1rem;
  }
  .hero-logo{
    width: 50%;
    padding: 2rem 0rem;
   }
   .hero-img{
    width: 100%;
    padding: 2rem 0rem;
   }
   .hero-rating{
    top: 21rem;
    left: 1.5rem;
    z-index: 20;
  }
  .hero-quality{
    top: 25rem;
    right: 3.5rem;
    z-index: 10;
  }

}